

<h2>Here are all definitions of <%= @word.word() %> :</h2>

<ul><% @word.definitions().each() do |definition| %>
  <li><%= definition.definition() %></li>
  <% end %>
</ul>


<h3>Add a definition "<%= @word.word() %>" here:</h3>

<form action="/word" method='post'>
  <input id='word_id' name='word_id' type='hidden' value='<%= @word.id() %>'>

  <label for='definition'>DA FUCK does this word mean?:</label>
  <input id='definition' name='definition' type='text'>

  <button type='submit'>Add the definition!</button>
</form>



<a href="/">Return to Words List</a>
